nextflow.enable.dsl=2

conda {
    enabled = true
    autoActivate = true
}

params {
    data_dir = '/mnt/c/Users/User/Documents/Nextflow/nf-scripts/data/samples'
    glob = '*_R{1,2}*.{fq,fastq}{.gz,}'
    out = 'results'
    reference = 'NC_000913.3'
}

process {
    withLabel: 'download_ref' {
        cpus = 2 //physical cores
        memory = '6GB' //allocate up to 6GB RAM per process
        conda = 'bioconda::entrez-direct=24.0'
    }
    withLabel: 'fastqc' {
    cpus = 2 //physical cores
    memory = '6GB' //allocate up to 6GB RAM per process
    conda = 'bioconda::sra-tools=3.2.1 bioconda::fastqc=0.12.1'
    }
}
